@use "./partials/typography" as *;
@use "./partials/mixins" as *;

*{
  font-family: PSP2;
}

.App {
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
}

