@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;


.gameBoard{
    width: 100%;
    height: auto;
}

.row{
    height: $gameBoardSize;
}

.cell--online-player{
    width: $gameBoardSize;
    height: $gameBoardSize;
    display: inline-block;
}

.cell--inactive{
    width: $gameBoardSize;
    height: $gameBoardSize;
    outline: 1px solid black;
    display: inline-block;
    background-color: gray;
}

.cell--active{
    width: $gameBoardSize;
    height: $gameBoardSize;
    outline: 1px solid black;
    display: inline-block;

}