@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;


.gameBoard{
    position: relative;
    z-index: 5;
    width: 100%;
    height: auto;
}

.row{
    height: $gameBoardSize;
}

.cell--online-player{
    position: relative;
    top:-20px;
    width: $gameBoardSize;
    height: $gameBoardSize;
    display: inline-block;
    outline: 1px solid black;
}

.cell--player-moved{
    width: $gameBoardSize;
    height: $gameBoardSize;
    display: inline-block;
    outline: 1px solid black;
}

.cell--inactive{
    width: $gameBoardSize;
    height: $gameBoardSize;
    outline: 1px solid black;
    display: inline-block;
    background-color: #7BB542;
}

.cell--active{
    width: $gameBoardSize;
    height: $gameBoardSize;
    outline: 1px solid black;
    display: inline-block;

}