@use "../../partials/mixins" as *;


.gameBoard{
    width: 100%;
    height: auto;
}

.row{
    height: 25px;
}

.cell--online-player{
    width: 25px;
    height: 25px;
    display: inline-block;
}

.cell--inactive{
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    display: inline-block;
    background-color: gray;
}

.cell--active{
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    display: inline-block;

}