@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;

.start{
    @include flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 25vh;
    min-width: 30vw;
    
    &__title{
        font-size: 3rem;
    }
}

.ready{
    &__status-true{
        color: green;
    }

    &__status-false{
        color: red;
    }
}
